## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Situation,Lat,Lng,Hotel Name
0,2,Maralal,KE,59.38,light rain,1.0968,36.6980,Ngari Hill Ecolodge
1,4,Sturgeon Falls,CA,50.05,overcast clouds,46.3646,-79.9326,Lincoln Motel
2,5,Durgapur,IN,67.96,clear sky,23.4833,87.3167,OYO 23635 Sher E Bengal
3,11,Chuy,UY,64.27,few clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
4,12,Zambezi,ZM,69.71,overcast clouds,-13.5432,23.1047,Royal Kutachika Lodge

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Situation</dt><dd>{Current Situation} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Pirot",:]
vacation_end = vacation_df.loc[vacation_df["City"]=="Pirot",:]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Methoni",:]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Caceres",:] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Mayen",:]

In [9]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()
start1 = (start[0][0],start[0][1])
end = vacation_end[["Lat", "Lng"]].to_numpy()
end1 = (end[0][0],end[0][1])
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop1u = (stop1[0][0],stop1[0][1])
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop2u = (stop2[0][0],stop2[0][1])
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()
stop3u = (stop3[0][0],stop3[0][1])
print(start1)
print(end1)
print(stop1u)
print(stop2u)
print((stop3u))

(43.1531, 22.5861)
(43.1531, 22.5861)
(36.8197, 21.7049)
(39.522, -6.3748)
(50.3333, 7.2167)

In [10]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

waypoints = [stop1u, stop2u, stop3u]

fig = gmaps.figure()
Vacation_itinerary = gmaps.directions_layer(start1, end1, waypoints=waypoints,travel_mode='DRIVING', show_markers=True)
fig.add_layer(Vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Situation,Lat,Lng,Hotel Name
0,596,Pirot,RS,51.55,clear sky,43.1531,22.5861,Sin-Kom Hotel Garni
1,596,Pirot,RS,51.55,clear sky,43.1531,22.5861,Sin-Kom Hotel Garni
2,554,Methoni,GR,66.22,clear sky,36.8197,21.7049,Methoni Beach Hotel
3,661,Caceres,ES,60.62,overcast clouds,39.5220,-6.3748,Ahc Hoteles
4,202,Mayen,DE,61.61,overcast clouds,50.3333,7.2167,Hotel-Restaurant Zum Alten Fritz

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Situation</dt><dd>{Current Situation}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))